<section class="no-padding" id="articles">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://static1.squarespace.com/static/50d0ebebe4b0ceb6af5fdd33/t/5bfecd28758d4621d0cfefa0/1543425325002/ordination.pdf" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/nadtoscreport.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                Theology of Ordination Study Committee Report
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://lightbearers.org/blog/a-closer-look-at-womens-ordination/"  class="portfolio-box" target="_blank">
                    <img src="img/portfolio/closerlook.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ty Gibson
                            </div>
                            <div class="project-name">
                                A Closer Look At Women’s Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6"> 
                <a href="http://equalordination.com/george-knight-on-ordination/" class="portfolio-box articlesmodal" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/biblicalordination.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                George Knight
                            </div>
                            <div class="project-name">
                                Biblical Meaning of Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.95theses4sda.com/" class="portfolio-box articlesmodal" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/martinluther.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Martin Weber
                            </div>
                            <div class="project-name">
                                95 Theses for Seventh-day Adventists
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://gleanernow.com/news/2018/10/reformation-yet-come" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/tocome.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Steve Vistaunet
                            </div>
                            <div class="project-name">
                                A Reformation Yet to Come
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.com/gp/product/1521040672/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/aftersa.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                William G. Johnsson 
                            </div>
                            <div class="project-name">
                                Where Are We Headed?: Adventism after San Antonio
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://spectrummagazine.org/article/2016/10/07/role-union-conferences-relation-higher-authorities" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/authority.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                George Knight
                            </div>
                            <div class="project-name">
                                The Role of Union Conferences in Relation to Higher Authorities*
                            </div>
                        </div>
                    </div>
                </a>
            </div>            
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.smashwords.com/books/view/433232" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/headship.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gerry Chudleigh
                            </div>
                            <div class="project-name">
                                A Short History of the Headship Doctrine in the Seventh-day Adventist Church
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="google.com" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/ewgordination.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                EGW and Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
