<section class="no-padding" id="articles">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://nadordination.com/s/ordination.pdf" class="portfolio-box articlesmodal" data-toggle="modal" data-target="#myModal" data-src="http://nadordination.com/s/ordination.pdf">
                    <img src="img/portfolio/itstime.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                Theology of Ordination Study Committee Report
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://lightbearers.org/blog/a-closer-look-at-womens-ordination/" class="portfolio-box articlesmodal" data-toggle="modal" data-target="#myModal" data-src="https://lightbearers.org/blog/a-closer-look-at-womens-ordination/">                
                    <img src="img/portfolio/lastdays.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ty Gibson
                            </div>
                            <div class="project-name">
                                A Closer Look At Women’s Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6"> 
                <a href="http://equalordination.com/george-knight-on-ordination/" class="portfolio-box articlesmodal" data-toggle="modal" data-target="#myModal" data-src="http://equalordination.com/george-knight-on-ordination/">                
                    <img src="img/portfolio/knight.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                George Knight
                            </div>
                            <div class="project-name">
                                Biblical Meaning of Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.95theses4sda.com/" class="portfolio-box articlesmodal" data-toggle="modal" data-target="#myModal" data-src="https://www.95theses4sda.com/">                
                    <img src="img/portfolio/johnsson.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Martin Weber
                            </div>
                            <div class="project-name">
                                95 Theses for Seventh-day Adventists
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://gleanernow.com/news/2018/10/reformation-yet-come" class="portfolio-box articlesmodal" data-toggle="modal" data-target="#myModal" data-src="https://gleanernow.com/news/2018/10/reformation-yet-come">                
                    <img src="img/portfolio/nadtosc.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Steve Vistaunet
                            </div>
                            <div class="project-name">
                                A Reformation Yet to Come
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://spectrummagazine.org/article/2016/10/07/role-union-conferences-relation-higher-authorities" class="portfolio-box articlesmodal" data-toggle="modal" data-target="#myModal" data-src="https://spectrummagazine.org/article/2016/10/07/role-union-conferences-relation-higher-authorities">                
                    <img src="img/portfolio/nadtoo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                George Knight
                            </div>
                            <div class="project-name">
                                The Role of Union Conferences in Relation to Higher Authorities*
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.com/gp/product/1521040672/" class="portfolio-box articlesmodal" data-toggle="modal" data-target="#myModal" data-src="https://www.amazon.com/gp/product/1521040672/">                
                    <img src="img/portfolio/herm.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NWilliam G. Johnsson 
                            </div>
                            <div class="project-name">
                                Where Are We Headed?: Adventism after San Antonio
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.smashwords.com/books/view/433232" class="portfolio-box articlesmodal" data-toggle="modal" data-target="#myModal" data-src="https://www.smashwords.com/books/view/433232">                
                    <img src="img/portfolio/ot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gerry Chudleigh
                            </div>
                            <div class="project-name">
                                A Short History of the Headship Doctrine in the Seventh-day Adventist Church
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/78290216">                
                    <img src="img/portfolio/ewgordination.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                EGW and Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/132017193">                
                    <img src="img/portfolio/herstories.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spectrum Magazine
                            </div>
                            <div class="project-name">
                                Ordination—Herstories: Three Pastors Tell the Backstory of TOSC
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/42352133">                
                    <img src="img/portfolio/biblewo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dwight Nelson
                            </div>
                            <div class="project-name">
                                What the Bible Really Says about Women Spiritual Leaders
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://www.youtube.com/embed/PvAV8MhEwAo">                
                    <img src="img/portfolio/truth.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Moderate Way
                            </div>
                            <div class="project-name">
                                The Surprising Truth about Women's Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/51337782">                
                    <img src="img/portfolio/wounity.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spectrum Magazine
                            </div>
                            <div class="project-name">
                                Why Women’s Ordination = Unity
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/103337659">                
                    <img src="img/portfolio/lastdaysoldmen.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dwight Nelson
                            </div>
                            <div class="project-name">
                                Part 2: The Last Days: "Of Perfume and Tears and Grumpy Old Men"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/51408307">                
                    <img src="img/portfolio/china.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spectrum Magazine
                            </div>
                            <div class="project-name">
                                Meet Ordained Women Pastors in China
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
