  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">Christ's Desire for Truth</h2>
              <hr class="light">
              <p class="text-faded">"This is good, and pleases God our Savior, who wants all people to be saved and to come to a knowledge of the truth." <sup>1 Tim. 2:3-4</sup></p>            
              <a href="#articlespre" class="btn btn-default btn-xl wow tada page-scroll">Discover More</a>
          </div>
      </div>
  </aside>
