  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">Imitating Christ's Love in Unity</h2>
              <hr class="light">
              <p class="text-faded">"Do nothing out of selfish ambition or vain conceit. Rather, in humility value others above yourselves, not looking to your own interests but each of you to the interests of the others." <sup>Phil. 2:3-4</sup></p>            
              <a href="#" class="btn btn-default btn-xl wow tada">Discover More</a>
          </div>
      </div>
  </aside>
