<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Imitating Christ's Love in Unity</h2>
                <hr class="light">
                <p class="text-faded">"Do nothing out of selfish ambition or vain conceit. Rather, in humility value others above yourselves, not looking to your own interests but each of you to the interests of the others." <sup>Phil. 2:3-4</sup></p>
                <a href="#videos" class="btn btn-default btn-xl page-scroll">Find out More</a>
            </div>
        </div>
    </div>
</section>
