<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Additional Resources</h2>
                <hr class="primary">
                <p>Here are some additional resources and websites to explore more information on the topic.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="http://nadordination.com/" alt="NAD Theology of Ordination" target="_blank">
                <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>NAD Theology of Ordination</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a ref="https://equalordination.com/resources/" alt="Equal Ordination" target="_blank">
            <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Equal Ordination</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://spectrummagazine.org/" alt="Spectrum Magazine" target="_blank">
            <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Spectrum Magazine</p>
            </a>
        </div>

    </div>
</section>
