<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://www.youtube.com/embed/GU4FrHFD9vE">
                    <img src="img/portfolio/itstime.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Voices of Unity
                            </div>
                            <div class="project-name">
                                It's Time
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/78291020">                
                    <img src="img/portfolio/lastdays.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                In the last days….
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6"> 
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://www.youtube.com/embed/GnbkXk6EDFU">                
                    <img src="img/portfolio/knight.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dr. George Knight
                            </div>
                            <div class="project-name">
                                Biblical Meaning of Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/232429179">                
                    <img src="img/portfolio/johnsson.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                William Johnsson
                            </div>
                            <div class="project-name">
                                Where Are We Headed?
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/78290218">                
                    <img src="img/portfolio/nadtosc.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                Video Report
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/78291021">                
                    <img src="img/portfolio/nadtoo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                Theology of Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/78291022">                
                    <img src="img/portfolio/herm.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                Hermeneutics
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/78290220">                
                    <img src="img/portfolio/ot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                Old Testament Considerations
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/78290216">                
                    <img src="img/portfolio/ewgordination.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NAD Theology of Ordination Study Committee
                            </div>
                            <div class="project-name">
                                EGW and Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/132017193">                
                    <img src="img/portfolio/herstories.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spectrum Magazine
                            </div>
                            <div class="project-name">
                                Ordination—Herstories: Three Pastors Tell the Backstory of TOSC
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/42352133">                
                    <img src="img/portfolio/biblewo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dwight Nelson
                            </div>
                            <div class="project-name">
                                What the Bible Really Says about Women Spiritual Leaders
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://www.youtube.com/embed/PvAV8MhEwAo">                
                    <img src="img/portfolio/truth.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Moderate Way
                            </div>
                            <div class="project-name">
                                The Surprising Truth about Women's Ordination
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/51337782">                
                    <img src="img/portfolio/wounity.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spectrum Magazine
                            </div>
                            <div class="project-name">
                                Why Women’s Ordination = Unity
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/103337659">                
                    <img src="img/portfolio/lastdays.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dwight Nelson
                            </div>
                            <div class="project-name">
                                Part 2: The Last Days: "Of Perfume and Tears and Grumpy Old Men"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal" data-src="https://player.vimeo.com/video/51408307">                
                    <img src="img/portfolio/china.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spectrum Magazine
                            </div>
                            <div class="project-name">
                                Meet Ordained Women Pastors in China
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
