<section id="videos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What's the Truth?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="service-box" style="max-width: 780px;">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Video Resources</h3>
                    <p class="text-muted">Below are some video resources on the issue of unity, authority, ordination, theology and truth within the <a href="//adventist.org" target="_blank">Seventh-day Adventist<sup>&reg;</sup> Church</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
